<div class="activity">
  <h3><%= activity.name %></h3>
  <p>
    Duration: <%= activity.minimum_duration %> to <%= activity.maximum_duration %> minutes
  </p>
  <p>
    Desired amount per week: <%= activity.desired_amount %> minutes
  </p>
</div>
